$background-color: #191A25;
$background-secondary-color: lighten($background-color, 5);
$border-color: #2E313B;

$node-header-color: #1B202C;
$node-main-color: #181D29;

$animation-speed: 150ms;

// Nodes
$variables-main-color: #352364;
$variables-header-color: darken($variables-main-color, 5);

$outputs-main-color: #601717;
$outputs-header-color: darken($outputs-main-color, 5);
