$background-color: #191A25;
$background-secondary-color: lighten($background-color, 5);
$border-color: #2E313B;

$node-header-color: #1B202C;
$node-main-color: #181D29;

$animation-speed: 150ms;

// Nodes
$variable-main-color: #352364;
$variable-header-color: darken($variable-main-color, 5); // #2e1d58;
