@import "../../styles/global";

.nodeWrapper {
  background: $node-main-color;
  box-shadow: 0 0 4px 2px #FFFFFF66;
  color: white;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 4px;

  .header {
    border-radius: 4px 4px 0 0;
    background: $node-header-color;
    display: flex;
    align-items: center;

    .nodeName {
      padding: 7px 5px;
      flex-grow: 1;

      & > span {
        padding-left: 5px;
      }
      & > * {
        vertical-align: middle;
      }
    }

    & > svg {
      padding: 4px 2px;
      margin: 4px 3px;
      cursor: pointer;
    }
  }
}

.iconDisabled {
  color: #ffffff69;
}
