.App {
  width: 100vw;
  height: 100vh;
}

.App > div {
  width: 100%;
  height: 100%;
  background: #191A25;
  background-image: radial-gradient(#FFFFFF21 1px, transparent 0);
  background-size: 20px 20px;
  background-position: -19px -19px;
}
