@import "../../styles/global";

.nodeWrapper {
  background-color: $variables-main-color;
  & > div:first-child {
    background-color: $variables-header-color;
  }

  .varLines {
    .varLine {
      display: flex;
      align-items: center;
      padding: 0 0 4px 15px;

      &:first-child {
        padding-top: 4px;
      }
      & > *:first-child {
        flex-grow: 1;
      }

      .varName {
        &:hover {
          font-style: italic;
          cursor: text;
        }
      }

      &:hover .delete {
        opacity: 1;
      }
      .delete {
        padding: 0 4px;
        cursor: pointer;
        color: tomato;
        opacity: 0;
        transition: opacity ease-in-out $animation-speed;
      }

      .port {
        background: rgba(255, 255, 255, 0.6);
        cursor: pointer;
        width: 16px;
        height: 16px;
        border-radius: 3px;
        position: relative;
        overflow: hidden;

        &:hover:after {
          top: 0;
          opacity: 1;
        }

        &:after {
          content: 'ᐅ';
          position: absolute;
          display: block;
          top: 100%;
          left: 50%;
          transform: translateX(-50%);
          line-height: 16px;
          opacity: 0;
          color: white;
          transition: top ease-in-out 300ms, opacity ease-in-out 300ms;
        }
      }
    }
  }
}

.noVars {
  padding: 7px 5px;
  color: rgba(255, 255, 255, 0.38);
}

.picker {
  background-color: $variables-header-color;
}
